{{#if data.title.show}}
<header class="journal-page-header">
    <h{{data.title.level}}>{{data.name}}</h{{data.title.level}}>
</header>
{{/if}}
<section class="journal-page-content">
    {{#if runReady}}
        <div class="fgl-lost-map-run-wrapper">
            <button type="button" class="fgl-button" data-action="run-map">
                {{localize "foundry-getting-lost.run"}}
            </button>
        </div>
        <hr />
    {{/if}}
    <div class="fgl-lost-map-container">
        <div class="fgl-lost-map-label">{{localize "foundry-getting-lost.sheet.mapImage"}}</div>
        {{#if system.mapImage}}
            <div class="fgl-lost-map-wrapper">
                <img src="{{system.mapImage}}" width="100%" />
                {{#if lines}}
                    {{#each lines}}
                        <div class="fgl-lost-map-division vertical" style="--division-percent:{{percent}}%;--division-color:{{color}};"></div>
                        <div class="fgl-lost-map-division horizontal" style="--division-percent:{{percent}}%;--division-color:{{color}};"></div>
                    {{/each}}
                {{/if}}
            </div>
        {{else}}
            <div>{{localize "foundry-getting-lost.sheet.notSet"}}</div>
        {{/if}}
        <div class="fgl-lost-map-label">
            {{localize "foundry-getting-lost.sheet.divisions"}}: <span class="fgl-lost-map-value">{{system.divisions}}</span>
            <button class="fgl-button inline-action" data-action="toggle-divisions">
                <span class="active-text">{{localize "foundry-getting-lost.result.hideDivisions"}}</span>
                <span class="inactive-text">{{localize "foundry-getting-lost.result.showDivisions"}}</span>
            </button>
        </div>
    </div>
    <hr />
    <div class="fgl-lost-map-label">
        {{ localize "foundry-getting-lost.sheet.flavorText" }}
    </div>
    {{{editor.content}}}
</section>