<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{lostMap.mapImage}}" data-edit="img" title="{{lostMap.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{lostMap.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="base">Map Information</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            <section class="grid grid-1col">
                <div class="form-group">
                    <label for="mapImage">Map Image</label>
                    <input type="text" name="mapImage" value="{{lostMap.mapImage}}" />
                </div>
                <div class="form-group">
                    <label for="divisions">Divisions (1–6)</label>
                    <input type="number" name="divisions" value="{{lostMap.divisions}}" min="1" max="6" />
                </div>
                <div class="form-group">
                    <label for="rollTableAdjustments">Roll Table Adjustments</label>
                    <textarea name="rollTableAdjustments">{{lostMap.rollTableAdjustments}}</textarea>
                </div>
            </section>
        </div> 
    </section>
</form>